header {
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: space-between;
  background-color: blueviolet;
  color: white;

}

nav {
  flex-grow: 1;
  padding: 1%;
}

.side {
  margin-left: auto;
}

ul {
  display: flex;
  
  margin: 0;
}

ul li {
  margin-right: 15px;
  text-decoration: none;
  list-style: none;
}